<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/javascript/regFab.js" defer></script>
    <title>Cadastro de Fabricantes</title>
</head>
<body>
    <main><form action="/fabricantes/cadastrar" method="post">
        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome"/>
        </div>
    <button type="submit" id="submitId">Cadastrar Fabricante</button>
    </form>
</main>
</body>
</html>