<!-- http://localhost:3000/fabricantes/cadastrar    rota para acessar essa pagina -->

<%- include('../partials/head') %>
<%- include('../partials/header') %>
<link rel="stylesheet" href="/css/fabricantes/style-regFab.css">;
<body>
    <main>
        <form action="/fabricantes/cadastrar" method="post">
            <div class="containerMaster">
                <div class="containerOne">
                    <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome"/>
                <br>
                <button type="submit" id="submitId">Cadastrar Fabricante</button>
                </div>
            </div>
        </form>
    </main>
<%- include('../partials/footer') %>
</body>
</html>