<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Used - DH Games</title>
    <link rel="stylesheet" href="/css/style-customerForm.css">
</head>
<body>
    
    <header class="cabecalho">
        <a href=""><img class="logoPressStart" src="/img/logo-loja-br.png" alt="logo-loja"></a>
        <div class="navegacao">
            <ul>
                <li><a href="/index">Inicio</a></li>
                <li><a href="/allproducts">Jogos</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/produtosusados">Orçamentos</a></li>              
            </ul>
        </div>
        <div class="login">
            <a href="/entrar">Entrar</a>
            <a href="/formLogin">Crie sua conta</a>
            <a href="./login.html"><img src="/img/login.png" alt="login"></a>
        </div>
    
    </header>
    <main>
       <section class="usadoPrincipal">
           <div class="usadoTexto">
                <img src="/img/icons/moeda.png" alt="moeda-icon">   
                <h1>Avalie meu usado!</h1>
           </div>
           <div class="usadoInstrucoes">
            <p>Preencha as informações abaixo para um novo cadastro:</p>
            </div>
            
            <div class="usadoFormulario">            
                <form action="" method="" enctype="">
                    <label for="nomeCompleto">Nome Completo:</label>
                    <input type="text" name="nomeCompleto" id="nomeCompleto">
                    <br>
                    <label for="email">E-mail</label>
                    <input type="email" name="email" id="email">
                    <br>
                    <label for="telefone">Telefone</label>
                    <input type="tel" name="telefone" id="telefone">
                    <br>
                    <label for="cidade">Cidade</label>
                    <input type="text" name="cidade" id="cidade">                    
                    <br>
                    <label for="foto">Faça upload de sua foto:</label>
                    <input type="file">
                    <button type="button">Voltar</button>
                    <button type="submit">Enviar</button> 

                </form>                
        </div>
        


        </div>
       </section>
    </main>
    <footer class="rodape" id="contato">
        <div class="rodapeChild">
            <h4>Beneficios</h4>
            <ul>
                <li>Garantia de qualidade</li>
                <li>Melhor opção do mercado</li>
                <li>Entrega para todo o Brasil</li>
            </ul>
        </div>
        <div class="rodapeChild">
            <h4 >Contatos</h4>
            <p>Telefone: (11) 00000-0000</p>
            <p>E-mail: sac@pressstart.com.br</p>
        </div>
        <div class="rodapeChild">
            <h4 >Redes Sociais</h4>
            <img src="/img/icons/facebook.png" alt="logo-facebook">
            <img src="/img/icons/instagram.png" alt="logo-instagram">
            <img src="/img/icons/whattsapp.png" alt="logo-whattsapp">

        </div>

    </footer>
</body>
</html>

