<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Used - DH Games</title>
    <link rel="stylesheet" href="/css/style-customerForm.css">
    <script src="/js/script.js"></script>
</head>
<body>
    
    <header>
        <%- include('./partials/head') %>
        <%- include('./partials/header') %>
    </header>

    <main>
       <section class="usadoPrincipal">
           <div class="usadoTexto">
                <img src="/img/icons/moeda.png" alt="moeda-icon">   
                <h1>Avalie meu usado!</h1>
           </div>
           <div class="usadoInstrucoes">
            <p>Preencha as informações abaixo para um novo cadastro:</p>
            </div>
            
            <div class="usadoFormulario">            
                <form action="" method="" enctype="">
                    <label for="nomeCompleto">Nome Completo:</label>
                    <input type="text" name="nomeCompleto" id="nomeCompleto">
                    <br>
                    <label for="email">E-mail</label>
                    <input type="email" name="email" id="email">
                    <br>
                    <label for="telefone">Telefone</label>
                    <input type="tel" name="telefone" id="telefone">
                    <br>
                    <label for="cidade">Cidade</label>
                    <input type="text" name="cidade" id="cidade">                    
                    <br>
                    <label for="foto">Faça upload de sua foto:</label>
                    <input type="file">
                    <button type="button">Voltar</button>
                    <button type="submit">Enviar</button> 

                </form>                
        </div>
        


        </div>
       </section>
    </main>
   <footer id="contact">
        <%- include('./partials/footer') %>
    </footer>
    
</body>
</html>

