<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="/css/style-contact.css">
    
</head>
<body>

    <header>
        <%- include('./partials/head') %>
        <%- include('./partials/header') %>
    </header>
        <!-- <link rel="stylesheet" href="/css/style-teste.css" /> -->
        <div class="ryu">
            <img src="/img/GIFs/ryu.gif" alt="" />
        </div>
        <!-- <div class="teste1"> -->
            <!-- <h1>Ola Mundo!</h1>
        </div> -->
    <footer id="contact">
            <%- include('./partials/footer') %>
    </footer>
    
</body>
</html>
