
<header>
    <%- include('./partials/head') %>
    <%- include('./partials/header') %>
</header>
    <!-- <link rel="stylesheet" href="/css/style-teste.css" /> -->
    <div class="container-contactus">
        <img src="/img/userRegiesteredIMG.jpg" alt="" />
    </div>
    <!-- <div class="teste1"> -->
        <!-- <h1>Ola Mundo!</h1>
    </div> -->
<footer id="contact">
        <%- include('./partials/footer') %>
</footer>
