
    <%- include('./partials/head') %>
    <%- include('./partials/header') %>
    <div class="container-contactus">
        <img src="/img/userRegiesteredIMG.jpg" alt="" />
    </div>
    <%- include('./partials/footer') %>
