<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/style-formLogin.css">
    <script src="/javascript/zipCodeUsers.js" defer></script>
</head>
<body>
    
    <header class="cabecalho">
        <a href=""><img class="logoPressStart" src="/img/logo-loja-br.png" alt="logo-loja"></a>
        <div class="navegacao">
            <ul>
                <li><a href="/index">Inicio</a></li>
                <li><a href="/allproducts">Jogos</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/produtosusados">Orçamentos</a></li>              
            </ul>
        </div>
        <div class="login">
            <a href="/entrar">Entrar / Cadastrar</a>
            <!-- <a href="/formLogin">Crie sua conta</a> -->
            <a href="./login.html"><img src="/img/login.png" alt="login"></a>
        </div>
    
    </header>
        <div class="superior">
            <div class="historico">
                <span>Inicio > Cadastro</span>
            </div>
            <div>
                <h2 class="titulo">Endereço</h2>
                <% if(typeof errors !== 'undefined') { %>
                    <% for(let error in errors){ %>
                        <%= error %>
                        <%= errors[error].msg %>
                    <% } %>
                    <% } %>
            </div>
        </div>
        <form class="camposCadastro" method="post" action="/clientes/endereco">
            <fieldset class="grupoDois">
                <span class="info"><strong> Endereço:</strong></span>
                <br>
                <div class="campo">
                    <label for="nome">CEP:</label>
                    <input type="number" name="cep"size="40" maxlength="100" id="cep" >
                </div>
                <br>
                <div class="campo">
                    <label for="nome">Endereço:</label>
                    <input type="text" name="endereco" size="40" maxlength="100" id="endereco">
                </div>
                <br>
                <div class="campo">
                    <label for="nome">Número:</label>
                    <input type="text" name="enderecoNumber" size="40" maxlength="100" >
                </div>
                <br>
                <div class="campo">
                    <label for="nome">Complemento:</label>
                    <input type="text" name="complemento" size="40" maxlength="100" >
                </div>
                <br>
                <div class="campo">
                    <label for="nome">Bairro:</label>
                    <input type="text" name="bairro" size="40" maxlength="100" id="bairro">
                </div>
                <br>
                <div class="campo">
                    <label for="nome">Cidade:</label>
                    <input type="text" name="cidade" size="40" maxlength="100" id="cidade">
                </div>
                <br>
                <div class="campo">
                    <label for="nome">Estado:</label>
                    <input type="text" name="state" size="40" maxlength="100" id="estado">
                </div>
                <br>
                <div class="campo">
                    <label for="nome">Referência:</label>
                    <input type="text" name="referencia" size="40" maxlength="100" >
                </div>
            </fieldset>
                    <img src="../img/GIFs/mario.gif" class="minimario" width="100px" height="100px">
                </div>
                <br>
                <button type="submit" class="cadastraUsuario">Cadastrar</button>

 
        </form>

        <div class="ofertas">
            <span>Inscreva-se e receba ofertas exclusivas!</span>
            <form class="cadastrar" action="" method="">
                <input type="text" id="nome" name="nome" placeholder="Nome">
                <input type="email" id="email" name="email" placeholder="E-mail">
                <button>Cadastrar</button>
            </form>
        </div>
    <footer class="rodape">
        <div class="rodapeChild">
            <h4>Beneficios</h4>
            <ul>
                <li>Garantia de qualidade</li>
                <li>Melhor opção do mercado</li>
                <li>Entrega para todo o Brasil</li>
            </ul>
        </div>
        <div class="rodapeChild">
            <h4 >Contatos</h4>
            <p>Telefone: (11) 00000-0000</p>
            <p>E-mail: sac@pressstart.com.br</p>
        </div>
        <div class="rodapeChild">
            <h4 >Redes Sociais</h4>
            <img src="/img/icons/facebook.png" alt="logo-facebook">
            <img src="/img/icons/instagram.png" alt="logo-instagram">
            <img src="/img/icons/whattsapp.png" alt="logo-whattsapp">

        </div>

    </footer>
</body>
</html>

