<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - DH Games</title>
    <link rel="stylesheet" href="/css/style-index.css">
    
    
</head>
<body>
    
    <header>
        <%- include('./partials/head') %>
        <%- include('./partials/header') %>
    </header>

    <main>
        <a href="https://web.whatsapp.com/send?phone=5521972275757" target="_blank"><img class="whattsapp" src="/img/icons/whattsapp.png" alt=""></a>

    <div class="carousel">
        <div class="parent"> 
                <div class="images">
                    <a href="/allproducts/offers"><img src="/img/carrosel/home/img-1.jpg" alt=""></a>
                    <a href=""><img src="/img/carrosel/home/img-4.jpg" alt=""></a>
                    <a href=""><img src="/img/carrosel/home/img-3.jpg" alt=""></a>
                </div>
        </div>
    </div>
        <section class="intro">
            <div class="introA">
            <h1>Press Start</h1>
            <p>Diversas opções de jogos para as principais plataformas.</p>
            <button><a href="/listagemDeProdutos.html">Ver loja</a></button>
            </div>
            <div class="introB">
            <img width="200" src="/img/intro/consoles.png" alt="jogos-diversos">
            </div>
        </section>
        <section class="popular">
            <div class="popularTitles">
              <h2>Mais populares</h2>
            </div>
        <div class="popularCatalog">
            
            <div>
                <img src="/img/catalogo/populares/mass-effect-legendary.jpg" alt="img of produto1" class="img">
                <h3>Titulo do produto1</h3> 
                <p>Categoria</p>
                <p>Valor: R$</p>
                <button><a href="./produtoInterno.html">Comprar</a></button> 
            </div>
            <div>
                <img src="/img/catalogo/populares/eldenRing.png" alt="img of produto1" id="2">
                <h3>Titulo do produto1</h3> 
                <p>Categoria</p>
                <p>Valor: R$</p>
                <button>Comprar</button> 
            </div>
            <div>
                <img src="/img/catalogo/populares/gran turismo.png" alt="img of produto2">
                <h3>Titulo do produto2</h3> 
                <p>Categoria</p>
                <p>Valor: R$</p>
                <button>Comprar</button> 
            </div>
            <div>
                <img src="/img/catalogo/populares/residentEvil.png" alt="img of produto3">
                <h3>Titulo do produto3</h3> 
                <p>Categoria</p>
                <p>Valor: R$</p>
                <button>Comprar</button> 
            </div>
        </div>
        </section>
        <section class="used">
            <div class="usedTitles"><h2>A Press Start compra seu usado</h2></div>
            <div class="usedContent">
            <div class="usedA">
                <img src="/img/usados/usados.png" alt="Used product">
            </div>
            <div class="usedB"> <p>Solicite uma avaliação de seus jogos usados e acumule prontos para a compra de novos jogos</p>
                <button><a href="paginaUsado.html">Solicitar avaliação</a></button>
            </div>
            </div>
            
        </section>

        <section class="news">
            <div class="newTitles">
            <h2>Novidades</h2>
            </div>
        <div class="catalogNews">
            <div>
                <img src="/img/novidades/demonssouls.jpg" alt="img of product 1">
                <h3>Titulo do produto1</h3> 
                <p>Categoria</p>
                <p>Valor: R$</p>
                <button>Comprar</button> 
            </div>
            <div>
                <img src="/img/novidades/farcry.jpg" alt="img of product 2">
                <h3>Titulo do produto2</h3> 
                <p>Categoria</p>
                <p>Valor: R$</p>
                <button>Comprar</button> 
            </div>
            <div>
                <img src="/img/novidades/horizon.jpg" alt="img of product 3">
                <h3>Titulo do produto3</h3> 
                <p>Categoria</p>
                <p>Valor: R$</p>
                <button>Comprar</button> 
            </div>
            <div>
                <img src="/img/novidades/horizon.jpg" alt="img of product 4">
                <h3>Titulo do produto3</h3> 
                <p>Categoria</p>
                <p>Valor: R$</p>
                <button>Comprar</button> 
            </div>
        </div>
        </section>
    </main>
    <footer id="contact">

    <%- include('./partials/footer') %>

    </footer>
</body>
<script src="/js/script-index.js"></script>  
</html>