<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style-login.css">
    
    
</head>
<body>
    
    <header class="cabecalho">
        <a href=""><img class="logoPressStart" src="/img/logo-loja-br.png" alt="logo-loja"></a>
        <div class="navegacao">
            <ul>
                <li><a href="homepage.html">Inicio</a></li>
                <li><a href="listagemDeProdutos.html">Jogos</a></li>
                <li><a href="#contato">Contato</a></li>
                <li><a href="paginaUsado.html">Orçamentos</a></li>              
            </ul>
        </div>
        <div class="login">
            <a href="">Entrar</a>
            <a href="">Crie sua conta</a>
            <a href="./login.html"><img src="/img/login.png" alt="login"></a>
        </div>
    
    </header>
    <main>
        <div class="historico">
            <span>Inicio > Cadastro</span>
        </div>
        <section class="intro">
                <div class="cadastro">
                    <div class="soucadastrado">
                        <h2 class="escrito">Já sou cadastrado</h2>
                        <form>
                            <label for="login">Login:</label>
                            <input type="text" id="login" name="login" placeholder="Digite seu Login">
                            <br><br>
                            <label for="senha"> Senha:</label>
                            <input type="password" id="senha" name="senha" placeholder="Digite sua Senha">
                            <br><br>
                            <a href="/index.html" title="Entrar"> <!-- colocar caminho certo no href -->
                            <button type="submit" id="entrar">Entrar</button>
                            </a>
                            <br>
                            <a href="/homepage.html" title="Esqueci minha senha"> <!-- colocar caminho certo no href -->
                                <span class="icon">Esqueci minha senha?</span>
                            </a>
                        </form>
                    </div>
                <div class="naocadastrado">
                    <h2 class="escrito">Não sou cadastrado</h2>
                    <p class="pncadastrado">Cadastre-se agora em nossa loja, é seguro, rápido e fácil</p>
                    <a href="/finalizacaoPedido.html" title="Cadastre-se"> <!-- colocar caminho certo no href -->
                        <button type="submit" id="Cadastre-se">Cadastre-se</button>
                        </a>
                </div>
        </section>
        <div class="ofertas">
            <span>Inscreva-se e receba ofertas exclusivas!</span>
            <form class="cadastrar" action="entrar/formLogin" method="POST">
                <input type="text" id="nome" name="nome" placeholder="Nome">
                <input type="email" id="email" name="email" placeholder="E-mail">
                <button>Cadastrar</button>
            </form>
        </div> 
    </main>
    <footer class="rodape">
        <div class="rodapeChild">
            <h4>Beneficios</h4>
            <ul>
                <li>Garantia de qualidade</li>
                <li>Melhor opção do mercado</li>
                <li>Entrega para todo o Brasil</li>
            </ul>
        </div>
        <div class="rodapeChild">
            <h4 >Contatos</h4>
            <p>Telefone: (11) 00000-0000</p>
            <p>E-mail: sac@pressstart.com.br</p>
        </div>
        <div class="rodapeChild">
            <h4 >Redes Sociais</h4>
            <img src="/img/icons/facebook.png" alt="logo-facebook">
            <img src="/img/icons/instagram.png" alt="logo-instagram">
            <img src="/img/icons/whattsapp.png" alt="logo-whattsapp">

        </div>

    </footer>
</body>
</html>

