<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order - DH Games</title>
    <link rel="stylesheet" href="/css/style-index.css">
    
    
</head>
<body>
    
    <header class="cabecalho">
        <a href=""><img class="logoPressStart" src="/img/logo-loja-br.png" alt="logo-loja"></a>
        <div class="navegacao">
            <ul>
                <li><a href="/index">Inicio</a></li>
                <li><a href="/produtos">Jogos</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/produtosusados">Orçamentos</a></li>              
            </ul>
        </div>
        <div class="login">
            <a href="/entrar">Entrar</a>
            <a href="/formLogin">Crie sua conta</a>
            <a href="./login.html"><img src="/img/login.png" alt="login"></a>
        </div>
    
    </header>
    <main>
      <div class="confirm-pedido">
          <div>
              <img src="/img/controle-icon.png" alt="">
              <h3>Numero do pedido: xxxx</h3>
              <p>Acompanhe o status do mesmo através do link da pagina de acompanhamento de pedidos ou se preferir, entre em contato conosco através dos canais de atendimento da página.</p>
          </div>

      </div>
    </main>
    <footer class="rodape">
        <div class="rodapeChild">
            <h4>Beneficios</h4>
            <ul>
                <li>Garantia de qualidade</li>
                <li>Melhor opção do mercado</li>
                <li>Entrega para todo o Brasil</li>
            </ul>
        </div>
        <div class="rodapeChild">
            <h4 >Contatos</h4>
            <p>Telefone: (11) 00000-0000</p>
            <p>E-mail: sac@pressstart.com.br</p>
        </div>
        <div class="rodapeChild">
            <h4 >Redes Sociais</h4>
            <img src="/img/icons/facebook.png" alt="logo-facebook">
            <img src="/img/icons/instagram.png" alt="logo-instagram">
            <img src="/img/icons/whattsapp.png" alt="logo-whattsapp">

        </div>

    </footer>
</body>
</html>

