<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usado - DH Games</title>
    <link rel="stylesheet" href="public/css/style-homepage.css">
</head>
<body>
    
    <header class="cabecalho">
        <a href=""><img class="logoPressStart" src="./public/img/logo-loja-br.png" alt="logo-loja"></a>
        <div class="navegacao">
            <ul>
                <li><a href="homepage.html">Inicio</a></li>
                <li><a href="listagemDeProdutos.html">Jogos</a></li>
                <li><a href="#contato">Contato</a></li>
                <li><a href="paginaUsado.html">Orçamentos</a></li>              
            </ul>
        </div>
        <div class="login">
            <a href="">Entrar</a>
            <a href="">Crie sua conta</a>
            <a href="./login.html"><img src="./public/img/login.png" alt="login"></a>
        </div>
    
    </header>
    <main>
        <div class="carrossel">
            <div class="parent"> 
                    <div class="imagens">                  
                        <img src="./public/img/carrosel/home/img-1.jpg" alt="">
                        <img src="./public/img/carrosel/home/img-4.jpg" alt="">
                        <img src="./public/img/carrosel/home/img-3.jpg" alt="">
                    </div>
            </div>
        </div>
        <div class="painelUsuario">
            <div class="caixa-1">
                <img src="./public/img/Yago.jpg" alt="Foto">
                <h3>Yago Felix</h2>
                <p>Creditos: R$ 500.000,00</p>
                <button>Atualizar cadastro</button>
                <button>Pedidos</button>
                <button>FAQ</button>
                <h4>Atendimento ao cliente</h4>
                <p>SAC:(xx)xxxx-xxxx / E-mail:sac@ecoomerce.com.br</p>
            </div>
            <div class="caixa-2">
                <div class="caixa-2-1">
                    <div>
                        <h3>Minha Conta</h3>
                        <p>Administre seus dados, endereços e pedidos</p>
                    </div>
                    <div>
                        <h3>Meus Pedidos</h3>
                        <p>Aqui você encontra todas as informações de seu pedido</p>
                    </div>
                </div>
                <div class="caixa-2-2">
                    <h2>Lista de pedidos</h2>
                    <table border="1">
                        <tr>
                            <th>Numero do pedido</th>
                            <th>Data</th>
                            <th>Pagamento</th>
                            <th>Status</th>
                            <th>NF-e</th>
                        </tr>
                        <tr>
                            <td>123456</td>
                            <td>12/04/2022</td>
                            <td>R$1250,00</td>
                            <td>Em transito</td>
                            <td>45230</td>
                        </tr>
                        <tr>
                            <td>123456</td>
                            <td>12/04/2022</td>
                            <td>R$1250,00</td>
                            <td>Em transito</td>
                            <td>45230</td>
                        </tr>
                        <tr>
                            <td>123456</td>
                            <td>12/04/2022</td>
                            <td>R$1250,00</td>
                            <td>Em transito</td>
                            <td>45230</td>
                        </tr>
                        <tr>
                            <td>123456</td>
                            <td>12/04/2022</td>
                            <td>R$1250,00</td>
                            <td>Em transito</td>
                            <td>45230</td>
                        </tr>
                        <tr>
                            <td>123456</td>
                            <td>12/04/2022</td>
                            <td>R$1250,00</td>
                            <td>Em transito</td>
                            <td>45230</td>
                        </tr>
                        <tr>
                            <td>123456</td>
                            <td>12/04/2022</td>
                            <td>R$1250,00</td>
                            <td>Em transito</td>
                            <td>45230</td>
                        </tr>
                        <tr>
                            <td>123456</td>
                            <td>12/04/2022</td>
                            <td>R$1250,00</td>
                            <td>Em transito</td>
                            <td>45230</td>
                        </tr>
                        <tr>
                            <td>123456</td>
                            <td>12/04/2022</td>
                            <td>R$1250,00</td>
                            <td>Em transito</td>
                            <td>45230</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer class="rodape" id="contato">
        <div class="rodapeChild">
            <h4>Beneficios</h4>
            <ul>
                <li>Garantia de qualidade</li>
                <li>Melhor opção do mercado</li>
                <li>Entrega para todo o Brasil</li>
            </ul>
        </div>
        <div class="rodapeChild">
            <h4 >Contatos</h4>
            <p>Telefone: (11) 00000-0000</p>
            <p>E-mail: sac@pressstart.com.br</p>
        </div>
        <div class="rodapeChild">
            <h4 >Redes Sociais</h4>
            <img src="./public/img/icons/facebook.png" alt="logo-facebook">
            <img src="./public/img/icons/instagram.png" alt="logo-instagram">
            <img src="./public/img/icons/whattsapp.png" alt="logo-whattsapp">

        </div>

    </footer>
</body>
</html>

