<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos - DH Games</title>
    <link rel="stylesheet" href="/css/style-index.css">
</head>
<body>    
                <form action="/product" method="post">
                    <input type="text" name="nome"/>
                    <input type="text" name="valor"/>
                    <button type="submit">Enviar</button>                    
                </form>  
                <form action="/product" method="post"> 
                    <input type="text" name="nome"/>
                    <input type="text" name="valor"/>
                    <input type="text" name="id"/>
                    <button type="submit">Enviar</button>                    
                </form>  

</body>
</html>