<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/style-formProducts.css">
    

</head>
<body>
    
    <header>
        <%- include('./partials/head') %>
        <%- include('./partials/header') %>
    </header>
    
    <div class="productsForm">
        <img src="/img/manutencao-site/mario-repair.png" alt="">
        
        <div class="formSettings">
        <h2>Manutenção do site</h2>
        <h3>Escolha uma opção abaixo:</h3>
        <br> 
        
            <div class="menuManutencao">   
                    <form action="/productform/registration" method="get">
                        <button type="submit" id="bt">Cadastrar novos produtos</button>                    
                    </form> 
                    <!-- <form action="/productform/update" method="get">
                        <button type="submit">Alterar cadastro de produtos</button>                    
                    </form> -->
                    <form action="/product/view" method="get">
                        <button type="submit">Visualizar produtos</button>                    
                    </form> 
            </div>
        </div> 
    </div>

    <footer id="contact">
        <%- include('./partials/footer') %>
    </footer>
</body>
<script src="/js/script.js"></script>  
</html>
