<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/style-formProducts.css">
</head>
<body>
    
    <header class="cabecalho">
        <a href=""><img class="logoPressStart" src="/img/logo-loja-br.png" alt="logo-loja"></a>
        <div class="navegacao">
            <ul>
                <li><a href="/index">Inicio</a></li>
                <li><a href="/allproducts">Jogos</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/produtosusados">Orçamentos</a></li>              
            </ul>
        </div>
        <div class="login">
            <a href="/entrar">Entrar</a>
            <a href="/formLogin">Crie sua conta</a>
            <a href="./login.html"><img src="/img/login.png" alt="login"></a>
        </div>
    </header>

    <main>
        <div class="productsForm">
        
        <div class="formToCreate">
        <h2>Novo cadastro de produtos:</h2>
        <br>
        <% if(typeof errors !== 'undefined'){ %>

        <ul>
            
            <% for (let error in errors){ %>
                <li>
                    <b><%= error %></b>
                    <%= errors[error].msg %>
                </li>
            <%} %>
        </ul>
        <% } %>  
                    <form action="/createproduct" method="post" enctype="multipart/form-data">
                        <label for="">Nome do Produto:</label>
                        <br>
                        <input type="text" name="produtoNome"/>
                        <br>
                        <label for="">Valor do produto:</label>
                        <br>
                        <input type="text" name="produtoValor"/>
                        <br>
                        <label for="">Categoria:</label>
                        <br>
                        <input type="text" name="produtoCategoria"/>
                        <br>
                        <label for="">Descrição:</label>
                        <br>
                        <input type="text" name="produtoDescricao"/>
                        <br>
                        <label for="">Quantidade:</label>
                        <br>
                        <input type="number" name="produtoQuantidade"/>
                        <br>
                        <label for="">Console:</label>
                        <br>
                        <input type="text" name="produtoConsole"/>
                        <br>
                        <br>
                        <label for="">Forneça a imagem do produto a ser cadastrado:</label>
                        <br>
                        <br>
                        <input type="file" name="imgJogo"/>
                        <br>
                        <button type="submit">Cadastrar</button>  
                                          
                    </form> 
                </div> 
        </div>
    </main>
    <footer class="rodape">
        <div class="rodapeChild">
            <h4>Beneficios</h4>
            <ul>
                <li>Garantia de qualidade</li>
                <li>Melhor opção do mercado</li>
                <li>Entrega para todo o Brasil</li>
            </ul>
        </div>
        <div class="rodapeChild">
            <h4 >Contatos</h4>
            <p>Telefone: (11) 00000-0000</p>
            <p>E-mail: sac@pressstart.com.br</p>
        </div>
        <div class="rodapeChild">
            <h4 >Redes Sociais</h4>
            <img src="/img/icons/facebook.png" alt="logo-facebook">
            <img src="/img/icons/instagram.png" alt="logo-instagram">
            <img src="/img/icons/whattsapp.png" alt="logo-whattsapp">

        </div>

    </footer>
</body>
</html>
