<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style-offers.css">
    <title>Ofertas</title>
</head>

<body>
<header>
    <!-- <%- include('./partials/head') %>; -->
    <%- include('./partials/header') %>;
</header>
<main>
    <video width="100%" height="500"  controls loop preload autoplay src="/img/carrosel/home/Sonic- Ofertas.mp4" >
    <!-- <source src="/img/carrosel/home/Sonic- Ofertas.mp4" type="video/mp4">
    <object data="" width="320" height="240"></object>
    <embed width="320" height="240" src="/img/carrosel/home/Sonic- Ofertas.mp4"> -->

    </video>

    <div class="tiluloNovidades">
        <h1>Principais novidades</h1>
        <p>Listamos aqui as principais novidades de jogos</p>
        
    </div>

    <div class="popularCatalog">
        
            
        <div>
            <img src="/img/catalogo/populares/mass-effect-legendary.jpg" alt="img of produto1" class="img">
            <h3>Titulo do produto1</h3> 
            <p>Categoria</p>
            <p>Valor: R$</p>
            <button><a href="./produtoInterno.html">Comprar</a></button> 
        </div>
        <div>
            <img src="/img/catalogo/populares/eldenRing.png" alt="img of produto1" id="2">
            <h3>Titulo do produto1</h3> 
            <p>Categoria</p>
            <p>Valor: R$</p>
            <button>Comprar</button> 
        </div>
        

        <div>
            <img src="/img/catalogo/populares/mass-effect-legendary.jpg" alt="img of produto1" class="img">
            <h3>Titulo do produto1</h3> 
            <p>Categoria</p>
            <p>Valor: R$</p>
            <button><a href="./produtoInterno.html">Comprar</a></button> 
        </div>
        <div>
            <img src="/img/catalogo/populares/eldenRing.png" alt="img of produto1" id="2">
            <h3>Titulo do produto1</h3> 
            <p>Categoria</p>
            <p>Valor: R$</p>
            <button>Comprar</button> 
        </div>
        <div>
            <img src="/img/catalogo/populares/gran turismo.png" alt="img of produto2">
            <h3>Titulo do produto2</h3> 
            <p>Categoria</p>
            <p>Valor: R$</p>
            <button>Comprar</button> 
        </div>
        <div>
            <img src="/img/catalogo/populares/residentEvil.png" alt="img of produto3">
            <h3>Titulo do produto3</h3> 
            <p>Categoria</p>
            <p>Valor: R$</p>
            <button>Comprar</button> 
        </div>
        <div>
            <img src="/img/catalogo/populares/mass-effect-legendary.jpg" alt="img of produto1" class="img">
            <h3>Titulo do produto1</h3> 
            <p>Categoria</p>
            <p>Valor: R$</p>
            <button><a href="./produtoInterno.html">Comprar</a></button> 
        </div>
        <div>
            <img src="/img/catalogo/populares/eldenRing.png" alt="img of produto1" id="2">
            <h3>Titulo do produto1</h3> 
            <p>Categoria</p>
            <p>Valor: R$</p>
            <button>Comprar</button> 
        </div>
        <div>
            <img src="/img/catalogo/populares/mass-effect-legendary.jpg" alt="img of produto1" class="img">
            <h3>Titulo do produto1</h3> 
            <p>Categoria</p>
            <p>Valor: R$</p>
            <button><a href="./produtoInterno.html">Comprar</a></button> 
        </div>
        <div>
            <img src="/img/catalogo/populares/eldenRing.png" alt="img of produto1" id="2">
            <h3>Titulo do produto1</h3> 
            <p>Categoria</p>
            <p>Valor: R$</p>
            <button>Comprar</button> 
        </div>
        

        <div>
            <img src="/img/catalogo/populares/mass-effect-legendary.jpg" alt="img of produto1" class="img">
            <h3>Titulo do produto1</h3> 
            <p>Categoria</p>
            <p>Valor: R$</p>
            <button><a href="./produtoInterno.html">Comprar</a></button> 
        </div>
        <div>
            <img src="/img/catalogo/populares/eldenRing.png" alt="img of produto1" id="2">
            <h3>Titulo do produto1</h3> 
            <p>Categoria</p>
            <p>Valor: R$</p>
            <button>Comprar</button> 
        </div>
        <div>
            <img src="/img/catalogo/populares/gran turismo.png" alt="img of produto2">
            <h3>Titulo do produto2</h3> 
            <p>Categoria</p>
            <p>Valor: R$</p>
            <button>Comprar</button> 
        </div>
        <div>
            <img src="/img/catalogo/populares/residentEvil.png" alt="img of produto3">
            <h3>Titulo do produto3</h3> 
            <p>Categoria</p>
            <p>Valor: R$</p>
            <button>Comprar</button> 
        </div>
        <div>
            <img src="/img/catalogo/populares/mass-effect-legendary.jpg" alt="img of produto1" class="img">
            <h3>Titulo do produto1</h3> 
            <p>Categoria</p>
            <p>Valor: R$</p>
            <button><a href="./produtoInterno.html">Comprar</a></button> 
        </div>
        <div>
            <img src="/img/catalogo/populares/eldenRing.png" alt="img of produto1" id="2">
            <h3>Titulo do produto1</h3> 
            <p>Categoria</p>
            <p>Valor: R$</p>
            <button>Comprar</button> 
        </div>
        <div>
            <img src="/img/catalogo/populares/mass-effect-legendary.jpg" alt="img of produto1" class="img">
            <h3>Titulo do produto1</h3> 
            <p>Categoria</p>
            <p>Valor: R$</p>
            <button><a href="./produtoInterno.html">Comprar</a></button> 
        </div>
        <div>
            <img src="/img/catalogo/populares/eldenRing.png" alt="img of produto1" id="2">
            <h3>Titulo do produto1</h3> 
            <p>Categoria</p>
            <p>Valor: R$</p>
            <button>Comprar</button> 
        </div>
    </div>
</main>

<footer>
    <%- include('./partials/footer') %>
</footer>
</body>
</html>
