<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<header>
    <%- include('./partials/head') %>;
    <%- include('./partials/header') %>;
</header>
<main>
    <video width="100%" height="500"  controls loop preload autoplay src="/img/carrosel/home/Sonic- Ofertas.mp4" >
    <!-- <source src="/img/carrosel/home/Sonic- Ofertas.mp4" type="video/mp4">
    <object data="" width="320" height="240"></object>
    <embed width="320" height="240" src="/img/carrosel/home/Sonic- Ofertas.mp4"> -->

    </video>
</main>

<footer>
    <%- include('./partials/footer') %>
</footer>
</body>
</html>
