<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products - DH Games</title>
    <link rel="stylesheet" href="/css/style-productListing.css">
    <link rel="stylesheet" href="/css/animation.css">
</head>
<body>
    
    <header class="top-bar">
        <a href=""><img class="logoPressStart" src="/img/logo-loja-br.png" alt="logo-loja"></a>
        <div class="navigation">
            <ul>
                <li><a href="/index">Inicio</a></li>
                <li><a href="/allproducts">Jogos</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/produtosusados">Orçamentos</a></li>              
            </ul>
        </div>
        <div class="login">
            <a href="/entrar">Entrar</a>
            <a href="/formLogin">Crie sua conta</a>
            <a href="./login.html"><img src="/img/login.png" alt="login"></a>
        </div>
    
    </header>
    <main>
        <section class="gallery">
        <div class="pictures">
        
            <img src="/img/carrosel/home/horizon-forbidden-west_7j3g.jpg" alt="foto1">
            <img src="/img/carrosel/home/controles.jpg" alt="foto2">
            <img src="/img/carrosel/home/recompensas.jpg" alt="foto3">
            <img src="/img/carrosel/home/horizon-forbidden-west_7j3g.jpg" alt="foto4"> 

        </div>
        
    </section>
    <section class="games">
        <div class="gamesTitles">
            <h2>JOGOS</h2>
        </div>
        <div class="gamesCatalog">
        <div>
            <img src="/img/catalogo/playstation/naruto.jpg" alt="img do produto 1">
            <h3>Titulo do Produto 1</h3>
            <p>Categoria</p>
            <p>Valor: R$</p>
            <button>Comprar</button>     
        </div>
        <div>
            <img src="/img/catalogo/Xbox/lego.jpg" alt="img do produto 2">
            <h3>Titulo do Produto 2</h3>
            <p>Categoria</p>
            <p>Valor: R$</p>
            <button>Comprar</button> 
        </div>
        <div>
            <img src="/img/catalogo//Xbox/cyber-punk.jpg" alt="img do produto 3">
            <h3>Titulo do Produto 3</h3>
            <p>Categoria</p>
            <p>Valor: R$</p>
            <button>Comprar</button>
        </div>
        <div>
            <img src="/img/catalogo/playstation/red-dead-redemption.jpg" alt="img do produto 4">
            <h3>Titulo do Produto 4</h3>
            <p>Categoria</p>
            <p>Valor: R$</p>
            <button>Comprar</button>     
        </div>
        <div>
            <img src="/img/catalogo/populares/eldenRing.png" alt="img do produto 5">
            <h3>Titulo do Produto 5</h3>
            <p>Categoria</p>
            <p>Valor: R$</p>
            <button>Comprar</button>     
        </div>
        <div>
            <img src="/img/catalogo/populares/gran turismo.png" alt="img do produto 6">
            <h3>Titulo do Produto 6</h3>
            <p>Categoria</p>
            <p>Valor: R$</p>
            <button>Comprar</button>  
        </div>
    </div>
    </section>
    <section>
        <div class="consoles">
        <div class="consoleTitle">
            <h2>CONSOLES</h2>
        </div>
        <div class="consoleCatalog">
        <div>
            <img src="/img/catalogo/consoles/play5.jpg" alt="img console 1">
            <h3>Titulo do Produto 1</h3>
            <p>Categoria</p>
            <p>Valor</p>
            <button>Comprar</button>
        </div>
        <div>
            <img src="/img/catalogo/consoles/download.jfif" alt=" img do console 2">
            <h3>Titulo do Produto 2</h3>
            <p>Categoria</p>
            <p>Valor</p>
            <button>Comprar</button>
        </div>
        <div>
            <img src="/img/catalogo/consoles/switch.png" alt="img console 3">
            <h3>Titulo do Produto 3</h3>
            <p>Categoria</p>
            <p>Valor</p>
            <button>Comprar</button>
        </div>
        </div>
    </section>
    <section>
        <div class="acessories">
        <div class="acessoriesTitle">
            <h2>ACESSORIOS</h2>
        </div>
        <div class="acessoriesCatalog">
            <div>
                <img src="/img/modelos de logos/Headset-Gamer-Png-300x300.png" alt="img acessorio 1">
                <h3>Titulo do Produto 1</h3>
                <p>Categoria</p>
                <p>Valor</p>
                <button>Comprar</button>    
        </div>
        <div>
            <img src="/img/modelos de logos/Computador-gamer-Png.png" alt="img acessorio 2">
            <h3>Titulo do Produto 2</h3>
            <p>Categoria</p>
            <p>Valor</p>
            <button>Comprar</button>    
    </div>
    <div>
        <img src="/img/modelos de logos/png-transparent-chair-fauteuil-furniture-gamer-chair-game-furniture-computer-thumbnail.png" alt="img acessorio 3">
        <h3>Titulo do Produto 3</h3>
        <p>Categoria</p>
        <p>Valor</p>
        <button>Comprar</button>    
</div>
<div>
    <img src="/img/modelos de logos/mousepn.jfif" alt="img acessorio 4">
    <h3>Titulo do Produto 4</h3>
    <p>Categoria</p>
    <p>Valor</p>
    <button>Comprar</button>    
</div>
<div>
    <img src="/img/modelos de logos/Teclado-mecanico-Cougar-Png-300x300.png" alt="img acessorio 5">
    <h3>Titulo do Produto 5</h3>
    <p>Categoria</p>
    <p>Valor</p>
    <button>Comprar</button>    
</div>
        </div>
    </section>
    <main>
        <section class="advertising">
            <div class="advertisingTitle">
                <h2>Titulo</h2>
            </div>
            <div class="advertisingNew">
                <div>
                    <img left src="/img/icons/pacman.png" alt="imagem de fundo">
                </div>
            </div>
        </section>
        <section class="comeCheck">
            <h2>Venha conferir nossos produtos e novidades!</h2>
        </section>
    </main>
    </section>
    <footer class="baseboard" id="contato">
        <div class="baseboardChild">
            <h4>Beneficios</h4>
            <ul>
                <li>Garantia de qualidade</li>
                <li>Melhor opção do mercado</li>
                <li>Entrega para todo o Brasil</li>
            </ul>
        </div>
        <div class="baseboardChild">
            <h4 >Contatos</h4>
            <p>Telefone: (11) 00000-0000</p>
            <p>E-mail: sac@pressstart.com.br</p>
        </div>
        <div class="baseboardChild">
            <h4 >Redes Sociais</h4>
            <img src="/img/icons/facebook.png" alt="logo-facebook">
            <img src="/img/icons/instagram.png" alt="logo-instagram">
            <img src="/img/icons/whattsapp.png" alt="logo-whattsapp">

        </div>
    </footer>
</body>
</html>