<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order - DH Games</title>
    <link rel="stylesheet" href="/css/style-index.css">
    
    
</head>
<body>
    
    <header>
        <%- include('./partials/head') %>
        <%- include('./partials/header') %>
    </header>
    <main>
      <div class="confirm-cadastro">
          <div>
              <img src="/img/controle-icon.png" alt="">
             <h1>Produto ALTERADO com sucesso!</h1>
            </div>

      </div>
    </main>
    <footer id="contact">
        <%- include('./partials/footer') %>
    </footer>
</body>
</html>
