<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - DH Games</title>
    <link rel="stylesheet" href="/css/style-viewProduct.css">
    
    
</head>
<body>
    
    <header>
        <%- include('./partials/head') %>
        <%- include('./partials/header') %>
    </header>

    <div class="container-mario">
        <img src="/img/endfase.jpg" alt="usuario cadastrado" />
    </div>

    <footer id="contact">
        <%- include('./partials/footer') %>
    </footer>
</body>
</html>