
    <%- include('./partials/head') %>
    <%- include('./partials/header') %>
    <div class="container-mario">
        <img src="/img/endfase.jpg" alt="usuario cadastrado" />
    </div>
    <%- include('./partials/footer') %>
