body{
    background-image: url('http://www.mariomayhem.com/fun/smb_level_editor/images/overworld_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


.formCustomer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 500px;
    top: 100px;
    width: 30%;
    background-color: aliceblue;
    border-radius: 10px;
    padding-bottom: 20px;
    border: 1px solid whitesmoke;
}


.formCustomer input{
    height: 3vh;
    width: 100%;
    border-radius: 10px;
}

.formCustomer button{
    margin-top: 20px;
    color: white;
    font-weight: bold;
    background-color: brown;
    border-radius: 10px;
    height: 30px;

}

#mario{
    position: fixed;
    top: 360px;
    width: 200px;
    /* animation: move 5s infnite forwards ; */

}

#bowser{
    position: fixed;
    opacity: 0.8;
    top:360px;
    width: 200px;
    animation: moveBowser 2s alternate-reverse infinite ;


}
@keyframes jump{
    from {top: 360px;}
    to {top: 100px;}
}

@keyframes moveBowser{
    from {left: 500px;}
    to {left: 1200px}
}

@keyframes back{
    from {left: 1300px;transform: scaleX(-1);}
    to {left: 50px}
}

