

main {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(80, 39, 117);
    opacity: 0.9;
}

tr {
    padding: 10px;
    font-size: 15px;
    color: white;
}

th {
    padding: 15px;
}

ul{
    font-size: 15px;
    color: white;
}

.th {
    padding: 10px;
}

.pagination {
    display: flex;
    flex-direction:row;
    justify-content: center;
}
.page-item {
    padding: 5px;
}


.li_games {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 15px;
    border: 2px;
    padding: 10px;
}

.pacman {
    display: flex;

}