<footer id="contact">
    <div class="footerChild">
        <h4>Beneficios</h4>
        <ul>
            <li>Garantia de qualidade</li>
            <li>Melhor opção do mercado</li>
            <li>Entrega para todo o Brasil</li>
        </ul>
    </div>
    <div class="footerChild">
        <h4 >Contatos</h4>
        <p>Telefone: (11) 00000-0000</p>
        <p>E-mail: sac@pressstart.com.br</p>
    </div>
    <div class="footerChild">
        <h4 >Redes Sociais</h4>
        <img src="../public/img/icons/facebook.png" alt="logo-facebook">
        <img src="../public/img/icons/instagram.png" alt="logo-instagram">
        <img src="../public/img/icons/whattsapp.png" alt="logo-whattsapp">

    </div>

</footer>