<header>
    <a href=""><img class="logoPressStart" src="../public/img/logo-loja-br.png" alt="logo-loja"></a>
    <div class="navigation">
        <ul>
            <li><a href="homepage.html">Inicio</a></li>
            <li><a href="listagemDeProdutos.html">Jogos</a></li>
            <li><a href="#contato">Contato</a></li>
            <li><a href="paginaUsado.html">Orçamentos</a></li>              
        </ul>
    </div>
    <div class="login">
        <a href="">Entrar</a>
        <a href="">Crie sua conta</a>
        <a href="./login.html"><img src="../public/img/login.png" alt="login"></a>
    </div>

</header>