<header>
    <a href=""><img class="logoPressStart" src="/img/logo-loja-br.png" alt="logo-loja"></a>
    <div class="navigation">
        <ul>
            <li><a href="/index">Inicio</a></li>
            <li><a href="/allproducts">Jogos</a></li>
            <li><a href="/contato">Contato</a></li>
            <li><a href="/produtosusados">Orçamentos</a></li>              
        </ul>
    </div>
    <div class="login">
        <a href="/entrar">Entrar / Cadastrar</a>
        <!-- <a href="/formLogin">Crie sua conta</a> -->
        <a href="./login.html"><img src="/img/login.png" alt="login"></a>
    </div>

</header>