body {
    display: block;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
}

form {
    padding-top: 50px;
    padding-bottom: 100px;
}

.center-admin {
    padding: 15px;
}

.center-pass {
    padding-bottom: 15px;
}

#email, #password {
    border: solid 2px black;
    border-radius: 6px;
    width: 250px;
    height: 35px;
    text-align: center;
    background-color: transparent;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}

.admin-label, .pass-label {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

.btn-style {
    text-align: center;
    justify-content: center;
    width: 105%;
    padding-bottom: 10px;
}

#btn {
    width: 70px;
    color: black;
    background-color: aqua;
}

.log {
    padding-bottom: 150px;
    padding-top: 20px;
    width: 105%;
    align-items: center;
    justify-content: center;
}

.keepLog {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 150px;
    font-size: 20px;
    background-color: aqua;
    font-weight: bolder;
    opacity: 0.5;
    border-radius: 6px;
    padding: 10px;
}