<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal do ADM</title>
</head>
<body>
    <h1>Portal do ADM</h1>
    <p>Administrar:</p>
    <ul>
        <li><a href="/entrar/admin/centraladmin/usuario/listar">Usuários</a></li>
        <li><a href="/product/settings">Produtos</a></li>
        <li><a href="/fabricantes">Fabricantes</a></li>
        <li><a href="/clientes">Clientes</a></li>
        
    </ul>
</body>
</html>

