<!-- http://localhost:3000/entrar/admin    rota para acessar essa pagina -->

<%- include('../partials/head') %>
<%- include('../partials/header') %>
<link rel="stylesheet" href="/css/view/admin/logPage.css">;
<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
<body>
    <form action="/entrar/admin/centralAdmin" method="get" class="form">
        <div class="center-admin">
            <label for="nome" class="admin-label">Admin:</label>
            <input type="email" id="email" name="email" placeholder="Digite o email do admin" />
        </div>
        <div class="center-pass">
            <label for="password" class="pass-label">Senha:</label>
            <input type="password" id="password" value="password" name="password" placeholder="Digite a sua senha" />
        </div>
        <div class="btn-style">
            <button type="submit" id="btn">Entrar</button>
            <!-- <form action="/entrar/admin/_method=POST" method="post">
            <button type="submit" id="btn">Registrar</button>
            </form> -->
        </div>
            <div class="log">
            <input type="checkbox" id="manterLogado" name="manterLogado" value="manterLogado" >
            <label for="manterLogado" class="keepLog"> Manter Logado? </label>
        </div>
    </form>
    <%- include('../partials/footer') %>
</body>