<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Usuario</title>
</head>
<body>
    <main>
        <form action="/usuario/editar/<%= user.id %>?_method=PUT" method="post">
    <div>
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome" value="<%= user.nome %>" />
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
    </div>
    <div>
        <label for="password">Senha</label>
        <input type="password" name="senha" id="senha" />
    </div>
    <button type="submit">Salvar Alterações</button>
    </form>
</main>
</body>
</html>